.menu{
    background-color: var(--bg-color2);
    opacity: 0.85;
}



.menu-bar__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
    padding-left: 0;

    font-size: 1.3rem;
    background-color: var(--bg-color2);

}

.menu-bar__menu-item{
    display: grid;

}

.menu-bar__menu-link{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
    text-decoration: none;
      
    color: var(--bg-color);

}

.menu-bar__menu-bar-span{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
    text-decoration: none;
      
    color: var(--bg-color);
}
.menu-bar__menu-link:hover{
    padding: 0.5rem;

  
    color: var(--text-color);
    font-weight:bold;
}

@media (max-width: 47rem) {
    

    .menu-bar__list {
        display: grid;
        grid-template-rows: repeat(3,auto);
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    
    .menu-bar__menu-item {
        display: grid;
        padding: 0;}


}