

:root {
    --bg-color: whitesmoke;
    --text-color: #3d4350;
    --bg-color2: rgb(176, 196, 222);
  }
  
.main{
    height: 100%;
    display: grid;
}



@media (max-width: 47rem) {
  main {
    display: flex;

    flex-direction: column;
    justify-content: space-around;
}

}